<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
   <meta>
      <identity>
         <uri>urn:com:bbyopen:mongodb</uri>
         <version>1.0.0</version>
      </identity>
      <info>
         <name>urn.com.bbyopen.mongodb</name>
         <description>Module for inserting and querying MongoDB</description>
         <icon>res:/urn_com_bbyopen_mongodb/pub/icon.png</icon>
      </info>
   </meta>
   <system>
      <dynamic/>
   </system>
   <rootspace name="urn.com.bbyopen.mongodb - Development Space" uri="urn:com:bbyopen:mongodb">
      <endpoint>
    		<id>mongoDB</id>
            	<grammar>
            		<active>
            			<identifier>active:mongoDB</identifier>
            			<argument name="dbserver" min="1" max="1" />
            			<argument name="dbname" min="1" max="1" />
            			<argument name="collection" min="1" max="1" />
            	       	<argument name="action" min="1" max="1"/>
            			<varargs/>
            		</active>
               	</grammar>
               	<class>com.bbyopen.mongodb.MongoDB</class>
		</endpoint>
		<import>
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>
   </rootspace>
   
   <rootspace name="urn.com.bbyopen.mongodb - Documentation Space" public="true" uri="urn:com:bbyopen:mongodb:doc">
      <fileset>
         <regex>res:/etc/system/(Books|Docs).xml</regex>
      </fileset>
      <fileset>
         <regex>res:/resources/doc/.*</regex>
      </fileset>
   </rootspace>
   <rootspace name="urn.com.bbyopen.mongodb - Unit Test Space" public="true" uri="urn:com:bbyopen:mongodb:test">
      <fileset>
         <regex>res:/etc/system/Tests.xml</regex>
      </fileset>
      <fileset>
         <regex>res:/resources/test/.*</regex>
      </fileset>
      <endpoint><!-- stop any configuration from module under test from polluting address space -->
         <prototype>Limiter</prototype>
         <grammar>res:/etc/
            <regex type="anything"/>
         </grammar>
      </endpoint>
      <import><!-- import the main space which we are testing -->
         <uri>urn:com:bbyopen:mongodb</uri>
      </import>
      <import>
         <uri>urn:org:netkernel:ext:layer1</uri>
         <private/>
      </import>
   </rootspace>
</module>